@charset "UTF-8";
h1 {
	color: white;
	background: black;
}
body {
	background-color: Springgreen;
}
table {
	text-align: center;
}
thead {
	color: white;
	background-color: black;
}
tbody {
	color: yellow;
	background-color: gray;
}
fieldset {
	background-color: white;
}